body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* remove when done debugging */
table, th, td {
  border-collapse: collapse;
  border: 1px solid black;
}

th, td {
  padding-left: 10px;
  padding-right: 10px;
}

th {
  text-align: right;
}

label {
  margin-right: 10px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  background: #c4c4c4;
}

sup {
  color: red;
}
